In [ ]:
# Dependencies
import pandas as pd

In [ ]:
# ser url variable from where the library will scrape data from
url = 'https://sites.google.com/site/32nflteamsabsoluteandrelative/'

In [ ]:
scrape = pd.read_html(url)
scrape

In [ ]:
type(scrape)

In [ ]:
df = scrape[1]
df.head()

In [ ]:
# remove first row
df_drop_first_row = df.iloc[1:]
df_drop_first_row.head()

In [ ]:
# remove last row
df_drop_last_row = df_drop_first_row[:-1]
df_drop_last_row.head()

In [ ]:
# remove last column
df_drop_last_col = df_drop_last_row.drop([3], axis=1)
df_drop_last_col = df_drop_last_col.reset_index()
df_drop_last_col.head()

In [ ]:
# elevate first row to headers
new_header = df_drop_last_col.iloc[0]
new_df = df_drop_last_col[1:]
new_df.columns = new_header
new_df.head()

In [ ]:
# remove first column and reset index
new_df = new_df.drop([1],axis=1)
new_df.head()

In [ ]:
# reset table index
new_df = new_df.reset_index()
new_df = new_df[["Franchise","Latitude","Longitude"]]
new_df.head()

In [ ]:
# drop new york giants (duplicate) since the Jets already play in New York
# drop all the indoor stadiums

In [ ]:
locations = new_df.drop([new_df.index[3],new_df.index[9],new_df.index[20],new_df.index[19],new_df.index[17],new_df.index[11],new_df.index[12]])
locations

In [ ]:
# replace New York Jets with just New York
locations = locations.replace(to_replace="New York Jets", value="New York")

In [ ]:
# replace Saint Louis with just St. Louis
locations = locations.replace(to_replace="Saint Louis", value="St. Louis")

In [ ]:
locations = locations.reset_index()
locations

In [ ]:
# remove the first column index as it is no longer of any value
locations = locations[["Franchise","Latitude","Longitude"]]

In [ ]:
locations

In [ ]:
# export table to csv
locations.to_csv("NFL_Locations.csv",encoding="utf-8",index=False)

In [ ]:
#new_df.to_html('NFL_Stadium_Locations.html')
#!open NFL_Stadium_Locations.html