In [1]:
# Dependencies
import pandas as pd

In [2]:
# ser url variable from where the library will scrape data from
url = 'https://sites.google.com/site/32nflteamsabsoluteandrelative/'

In [3]:
scrape = pd.read_html(url)
scrape

[              Unnamed: 0             Unnamed: 1
 0  homeLearn moreSitemap  homeLearn moreSitemap,
                                                     0         1          2  \
 0   NFL TEAMS!Use these coordinates to plot the 32...       NaN        NaN
 1                                           Franchise  Latitude  Longitude
 2                                             Chicago   41.53 N    87.38 W
 3                                           Green Bay   44.30 N    88.01 W
 4                                             Arizona   33.27 N   112.05 W
 5                                             Atlanta   33.45 N    84.23 W
 6                                           Baltimore   39.17 N    76.37 W
 7                                             Buffalo   42.54 N    78.53 W
 8                                            Carolina   35.14 N    80.50 W
 9                                          Cincinnati   39.06 N    84.31 W
 10                                          Cleveland   41.30 N    81.41 W
 11                                             Dallas   32.47 N    96.48 W
 12                                             Denver   39.43 N   105.01 W
 13                                            Detroit   42.20 N    83.03 W
 14                                            Houston   29.46 N    95.22 W
 15                                       Indianapolis   39.46 N    86.09 W
 16                                       Jacksonville   30.20 N    81.40 W
 17                                        Kansas City   39.06 N    94.37 W
 18                                              Miami   25.46 N    80.12 W
 19                                          Minnesota   44.59 N    93.13 W
 20                                        New England   42.21 N    71.04 W
 21                                        New Orleans   29.58 N    90.07 W
 22                                    New York Giants   40.43 N    74.01 W
 23                                      New York Jets   40.43 N    74.01 W
 24                                            Oakland   37.47 N   122.13 W
 25                                       Philadelphia   39.57 N    75.07 W
 26                                         Pittsburgh   40.26 N    80.00 W
 27                                        Saint Louis   38.38 N    90.11 W
 28                                          San Diego   32.43 N   118.09 W
 29                                      San Francisco   37.48 N   122.24 W
 30                                            Seattle   47.36 N   122.20 W
 31                                              Tampa   27.57 N    82.27 W
 32                                          Tennessee   36.09 N    86.48 W
 33                                         Washington   38.54 N    77.01 W
 34  NFL TEAMS!Use these coordinates to plot the 32...       NaN        NaN

                                                     3
 0                                                 NaN
 1                                            Question
 2   1. This team's city is _______________________...
 3   2. This team's city is _______________________...
 4   3. This team's city is_______________________o...
 5   4. This team's city is _______________________...
 6   5. This team's city is _______________________...
 7   6. This team's city is _______________________...
 8   7. This team's city is _______________________...
 9   8. This team's city is _______________________...
 10  9. This team's city is _______________________...
 11  10. This team's city is ______________________...
 12  11. This team's city is ______________________...
 13  12. This team's city is ______________________...
 14  13. This team's city is ______________________...
 15  14. This team's city is ______________________...
 16  15. This team's city is ______________________...
 17  16. This team's city is ______________________...
 18  17. This team's city is ______________________...
 19  18. This team's city is ______________________...
 20  19. This team's city is ______________________...
 21  20. This team's city is ______________________...
 22  21. This team's city is ______________________...
 23  22. This team's city is ______________________...
 24  23. This team's city is ______________________...
 25  24. This team's city is ______________________...
 26  25. This team's city is ______________________...
 27  26. This team's city is ______________________...
 28  27. This team's city is ______________________...
 29  28. This team's city is ______________________...
 30  29. This team's city is ______________________...
 31  30. This team's city is ______________________...
 32  31. This team's city is ______________________...
 33  32. This team's city is ______________________...
 34                                                NaN  ,
                                                     0         1          2  \
 0   NFL TEAMS!Use these coordinates to plot the 32...       NaN        NaN
 1                                           Franchise  Latitude  Longitude
 2                                             Chicago   41.53 N    87.38 W
 3                                           Green Bay   44.30 N    88.01 W
 4                                             Arizona   33.27 N   112.05 W
 5                                             Atlanta   33.45 N    84.23 W
 6                                           Baltimore   39.17 N    76.37 W
 7                                             Buffalo   42.54 N    78.53 W
 8                                            Carolina   35.14 N    80.50 W
 9                                          Cincinnati   39.06 N    84.31 W
 10                                          Cleveland   41.30 N    81.41 W
 11                                             Dallas   32.47 N    96.48 W
 12                                             Denver   39.43 N   105.01 W
 13                                            Detroit   42.20 N    83.03 W
 14                                            Houston   29.46 N    95.22 W
 15                                       Indianapolis   39.46 N    86.09 W
 16                                       Jacksonville   30.20 N    81.40 W
 17                                        Kansas City   39.06 N    94.37 W
 18                                              Miami   25.46 N    80.12 W
 19                                          Minnesota   44.59 N    93.13 W
 20                                        New England   42.21 N    71.04 W
 21                                        New Orleans   29.58 N    90.07 W
 22                                    New York Giants   40.43 N    74.01 W
 23                                      New York Jets   40.43 N    74.01 W
 24                                            Oakland   37.47 N   122.13 W
 25                                       Philadelphia   39.57 N    75.07 W
 26                                         Pittsburgh   40.26 N    80.00 W
 27                                        Saint Louis   38.38 N    90.11 W
 28                                          San Diego   32.43 N   118.09 W
 29                                      San Francisco   37.48 N   122.24 W
 30                                            Seattle   47.36 N   122.20 W
 31                                              Tampa   27.57 N    82.27 W
 32                                          Tennessee   36.09 N    86.48 W
 33                                         Washington   38.54 N    77.01 W

                                                     3
 0                                                 NaN
 1                                            Question
 2   1. This team's city is _______________________...
 3   2. This team's city is _______________________...
 4   3. This team's city is_______________________o...
 5   4. This team's city is _______________________...
 6   5. This team's city is _______________________...
 7   6. This team's city is _______________________...
 8   7. This team's city is _______________________...
 9   8. This team's city is _______________________...
 10  9. This team's city is _______________________...
 11  10. This team's city is ______________________...
 12  11. This team's city is ______________________...
 13  12. This team's city is ______________________...
 14  13. This team's city is ______________________...
 15  14. This team's city is ______________________...
 16  15. This team's city is ______________________...
 17  16. This team's city is ______________________...
 18  17. This team's city is ______________________...
 19  18. This team's city is ______________________...
 20  19. This team's city is ______________________...
 21  20. This team's city is ______________________...
 22  21. This team's city is ______________________...
 23  22. This team's city is ______________________...
 24  23. This team's city is ______________________...
 25  24. This team's city is ______________________...
 26  25. This team's city is ______________________...
 27  26. This team's city is ______________________...
 28  27. This team's city is ______________________...
 29  28. This team's city is ______________________...
 30  29. This team's city is ______________________...
 31  30. This team's city is ______________________...
 32  31. This team's city is ______________________...
 33  32. This team's city is ______________________...  ,
                   0         1          2  \
 0         Franchise  Latitude  Longitude
 1           Chicago   41.53 N    87.38 W
 2         Green Bay   44.30 N    88.01 W
 3           Arizona   33.27 N   112.05 W
 4           Atlanta   33.45 N    84.23 W
 5         Baltimore   39.17 N    76.37 W
 6           Buffalo   42.54 N    78.53 W
 7          Carolina   35.14 N    80.50 W
 8        Cincinnati   39.06 N    84.31 W
 9         Cleveland   41.30 N    81.41 W
 10           Dallas   32.47 N    96.48 W
 11           Denver   39.43 N   105.01 W
 12          Detroit   42.20 N    83.03 W
 13          Houston   29.46 N    95.22 W
 14     Indianapolis   39.46 N    86.09 W
 15     Jacksonville   30.20 N    81.40 W
 16      Kansas City   39.06 N    94.37 W
 17            Miami   25.46 N    80.12 W
 18        Minnesota   44.59 N    93.13 W
 19      New England   42.21 N    71.04 W
 20      New Orleans   29.58 N    90.07 W
 21  New York Giants   40.43 N    74.01 W
 22    New York Jets   40.43 N    74.01 W
 23          Oakland   37.47 N   122.13 W
 24     Philadelphia   39.57 N    75.07 W
 25       Pittsburgh   40.26 N    80.00 W
 26      Saint Louis   38.38 N    90.11 W
 27        San Diego   32.43 N   118.09 W
 28    San Francisco   37.48 N   122.24 W
 29          Seattle   47.36 N   122.20 W
 30            Tampa   27.57 N    82.27 W
 31        Tennessee   36.09 N    86.48 W
 32       Washington   38.54 N    77.01 W

                                                     3
 0                                            Question
 1   1. This team's city is _______________________...
 2   2. This team's city is _______________________...
 3   3. This team's city is_______________________o...
 4   4. This team's city is _______________________...
 5   5. This team's city is _______________________...
 6   6. This team's city is _______________________...
 7   7. This team's city is _______________________...
 8   8. This team's city is _______________________...
 9   9. This team's city is _______________________...
 10  10. This team's city is ______________________...
 11  11. This team's city is ______________________...
 12  12. This team's city is ______________________...
 13  13. This team's city is ______________________...
 14  14. This team's city is ______________________...
 15  15. This team's city is ______________________...
 16  16. This team's city is ______________________...
 17  17. This team's city is ______________________...
 18  18. This team's city is ______________________...
 19  19. This team's city is ______________________...
 20  20. This team's city is ______________________...
 21  21. This team's city is ______________________...
 22  22. This team's city is ______________________...
 23  23. This team's city is ______________________...
 24  24. This team's city is ______________________...
 25  25. This team's city is ______________________...
 26  26. This team's city is ______________________...
 27  27. This team's city is ______________________...
 28  28. This team's city is ______________________...
 29  29. This team's city is ______________________...
 30  30. This team's city is ______________________...
 31  31. This team's city is ______________________...
 32  32. This team's city is ______________________...  ]

In [4]:
type(scrape)

list

In [7]:
df = scrape[1]
df

,0,1,2,3
0,NFL TEAMS!Use these coordinates to plot the 32...,NaN,NaN,NaN
1,Franchise,Latitude,Longitude,Question
2,Chicago,41.53 N,87.38 W,1. This team's city is _______________________...
3,Green Bay,44.30 N,88.01 W,2. This team's city is _______________________...
4,Arizona,33.27 N,112.05 W,3. This team's city is_______________________o...
5,Atlanta,33.45 N,84.23 W,4. This team's city is _______________________...
6,Baltimore,39.17 N,76.37 W,5. This team's city is _______________________...
7,Buffalo,42.54 N,78.53 W,6. This team's city is _______________________...
8,Carolina,35.14 N,80.50 W,7. This team's city is _______________________...
9,Cincinnati,39.06 N,84.31 W,8. This team's city is _______________________...
10,Cleveland,41.30 N,81.41 W,9. This team's city is _______________________...
11,Dallas,32.47 N,96.48 W,10. This team's city is ______________________...
12,Denver,39.43 N,105.01 W,11. This team's city is ______________________...
13,Detroit,42.20 N,83.03 W,12. This team's city is ______________________...
14,Houston,29.46 N,95.22 W,13. This team's city is ______________________...
15,Indianapolis,39.46 N,86.09 W,14. This team's city is ______________________...
16,Jacksonville,30.20 N,81.40 W,15. This team's city is ______________________...
17,Kansas City,39.06 N,94.37 W,16. This team's city is ______________________...
18,Miami,25.46 N,80.12 W,17. This team's city is ______________________...
19,Minnesota,44.59 N,93.13 W,18. This team's city is ______________________...
20,New England,42.21 N,71.04 W,19. This team's city is ______________________...
21,New Orleans,29.58 N,90.07 W,20. This team's city is ______________________...
22,New York Giants,40.43 N,74.01 W,21. This team's city is ______________________...
23,New York Jets,40.43 N,74.01 W,22. This team's city is ______________________...
24,Oakland,37.47 N,122.13 W,23. This team's city is ______________________...
25,Philadelphia,39.57 N,75.07 W,24. This team's city is ______________________...
26,Pittsburgh,40.26 N,80.00 W,25. This team's city is ______________________...
27,Saint Louis,38.38 N,90.11 W,26. This team's city is ______________________...
28,San Diego,32.43 N,118.09 W,27. This team's city is ______________________...
29,San Francisco,37.48 N,122.24 W,28. This team's city is ______________________...
30,Seattle,47.36 N,122.20 W,29. This team's city is ______________________...
31,Tampa,27.57 N,82.27 W,30. This team's city is ______________________...
32,Tennessee,36.09 N,86.48 W,31. This team's city is ______________________...
33,Washington,38.54 N,77.01 W,32. This team's city is ______________________...
34,NFL TEAMS!Use these coordinates to plot the 32...,NaN,NaN,NaN

In [12]:
# remove first row
df_drop_first_row = df.iloc[1:]
df_drop_first_row.head()

,0,1,2,3
1,Franchise,Latitude,Longitude,Question
2,Chicago,41.53 N,87.38 W,1. This team's city is _______________________...
3,Green Bay,44.30 N,88.01 W,2. This team's city is _______________________...
4,Arizona,33.27 N,112.05 W,3. This team's city is_______________________o...
5,Atlanta,33.45 N,84.23 W,4. This team's city is _______________________...

In [14]:
# remove last row
df_drop_last_row = df_drop_first_row[:-1]
df_drop_last_row

,0,1,2,3
1,Franchise,Latitude,Longitude,Question
2,Chicago,41.53 N,87.38 W,1. This team's city is _______________________...
3,Green Bay,44.30 N,88.01 W,2. This team's city is _______________________...
4,Arizona,33.27 N,112.05 W,3. This team's city is_______________________o...
5,Atlanta,33.45 N,84.23 W,4. This team's city is _______________________...
6,Baltimore,39.17 N,76.37 W,5. This team's city is _______________________...
7,Buffalo,42.54 N,78.53 W,6. This team's city is _______________________...
8,Carolina,35.14 N,80.50 W,7. This team's city is _______________________...
9,Cincinnati,39.06 N,84.31 W,8. This team's city is _______________________...
10,Cleveland,41.30 N,81.41 W,9. This team's city is _______________________...
11,Dallas,32.47 N,96.48 W,10. This team's city is ______________________...
12,Denver,39.43 N,105.01 W,11. This team's city is ______________________...
13,Detroit,42.20 N,83.03 W,12. This team's city is ______________________...
14,Houston,29.46 N,95.22 W,13. This team's city is ______________________...
15,Indianapolis,39.46 N,86.09 W,14. This team's city is ______________________...
16,Jacksonville,30.20 N,81.40 W,15. This team's city is ______________________...
17,Kansas City,39.06 N,94.37 W,16. This team's city is ______________________...
18,Miami,25.46 N,80.12 W,17. This team's city is ______________________...
19,Minnesota,44.59 N,93.13 W,18. This team's city is ______________________...
20,New England,42.21 N,71.04 W,19. This team's city is ______________________...
21,New Orleans,29.58 N,90.07 W,20. This team's city is ______________________...
22,New York Giants,40.43 N,74.01 W,21. This team's city is ______________________...
23,New York Jets,40.43 N,74.01 W,22. This team's city is ______________________...
24,Oakland,37.47 N,122.13 W,23. This team's city is ______________________...
25,Philadelphia,39.57 N,75.07 W,24. This team's city is ______________________...
26,Pittsburgh,40.26 N,80.00 W,25. This team's city is ______________________...
27,Saint Louis,38.38 N,90.11 W,26. This team's city is ______________________...
28,San Diego,32.43 N,118.09 W,27. This team's city is ______________________...
29,San Francisco,37.48 N,122.24 W,28. This team's city is ______________________...
30,Seattle,47.36 N,122.20 W,29. This team's city is ______________________...
31,Tampa,27.57 N,82.27 W,30. This team's city is ______________________...
32,Tennessee,36.09 N,86.48 W,31. This team's city is ______________________...
33,Washington,38.54 N,77.01 W,32. This team's city is ______________________...

In [15]:
# remove last column
df_drop_last_col = df_drop_last_row.drop([3], axis=1)
df_drop_last_col = df_drop_last_col.reset_index()
df_drop_last_col.head()

   index          0         1          2
0      1  Franchise  Latitude  Longitude
1      2    Chicago   41.53 N    87.38 W
2      3  Green Bay   44.30 N    88.01 W
3      4    Arizona   33.27 N   112.05 W
4      5    Atlanta   33.45 N    84.23 W

In [16]:
# elevate first row to headers
new_header = df_drop_last_col.iloc[0]
new_df = df_drop_last_col[1:]
new_df.columns = new_header
new_df.head()

0  1  Franchise Latitude Longitude
1  2    Chicago  41.53 N   87.38 W
2  3  Green Bay  44.30 N   88.01 W
3  4    Arizona  33.27 N  112.05 W
4  5    Atlanta  33.45 N   84.23 W
5  6  Baltimore  39.17 N   76.37 W

In [17]:
# remove first column and reset index
new_df = new_df.drop([1],axis=1)
new_df.head()

0  Franchise Latitude Longitude
1    Chicago  41.53 N   87.38 W
2  Green Bay  44.30 N   88.01 W
3    Arizona  33.27 N  112.05 W
4    Atlanta  33.45 N   84.23 W
5  Baltimore  39.17 N   76.37 W

In [18]:
new_df

0         Franchise Latitude Longitude
1           Chicago  41.53 N   87.38 W
2         Green Bay  44.30 N   88.01 W
3           Arizona  33.27 N  112.05 W
4           Atlanta  33.45 N   84.23 W
5         Baltimore  39.17 N   76.37 W
6           Buffalo  42.54 N   78.53 W
7          Carolina  35.14 N   80.50 W
8        Cincinnati  39.06 N   84.31 W
9         Cleveland  41.30 N   81.41 W
10           Dallas  32.47 N   96.48 W
11           Denver  39.43 N  105.01 W
12          Detroit  42.20 N   83.03 W
13          Houston  29.46 N   95.22 W
14     Indianapolis  39.46 N   86.09 W
15     Jacksonville  30.20 N   81.40 W
16      Kansas City  39.06 N   94.37 W
17            Miami  25.46 N   80.12 W
18        Minnesota  44.59 N   93.13 W
19      New England  42.21 N   71.04 W
20      New Orleans  29.58 N   90.07 W
21  New York Giants  40.43 N   74.01 W
22    New York Jets  40.43 N   74.01 W
23          Oakland  37.47 N  122.13 W
24     Philadelphia  39.57 N   75.07 W
25       Pittsburgh  40.26 N   80.00 W
26      Saint Louis  38.38 N   90.11 W
27        San Diego  32.43 N  118.09 W
28    San Francisco  37.48 N  122.24 W
29          Seattle  47.36 N  122.20 W
30            Tampa  27.57 N   82.27 W
31        Tennessee  36.09 N   86.48 W
32       Washington  38.54 N   77.01 W

In [19]:
# export table to HTML
html_table = new_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Franchise</th>\n      <th>Latitude</th>\n      <th>Longitude</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Chicago</td>\n      <td>41.53 N</td>\n      <td>87.38 W</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Green Bay</td>\n      <td>44.30 N</td>\n      <td>88.01 W</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Arizona</td>\n      <td>33.27 N</td>\n      <td>112.05 W</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Atlanta</td>\n      <td>33.45 N</td>\n      <td>84.23 W</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Baltimore</td>\n      <td>39.17 N</td>\n      <td>76.37 W</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Buffalo</td>\n      <td>42.54 N</td>\n      <td>78.53 W</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>Carolina</td>\n      <td>35.14 N</td>\n      <td>80.50 W</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Cincinnati</td>\n      <td>39.06 N</td>\n      <td>84.31 W</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>Cleveland</td>\n      <td>41.30 N</td>\n      <td>81.41 W</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>Dallas</td>\n      <td>32.47 N</td>\n      <td>96.48 W</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>Denver</td>\n      <td>39.43 N</td>\n      <td>105.01 W</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>Detroit</td>\n      <td>42.20 N</td>\n      <td>83.03 W</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>Houston</td>\n      <td>29.46 N</td>\n      <td>95.22 W</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>Indianapolis</td>\n      <td>39.46 N</td>\n      <td>86.09 W</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>Jacksonville</td>\n      <td>30.20 N</td>\n      <td>81.40 W</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>Kansas City</td>\n      <td>39.06 N</td>\n      <td>94.37 W</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>Miami</td>\n      <td>25.46 N</td>\n      <td>80.12 W</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>Minnesota</td>\n      <td>44.59 N</td>\n      <td>93.13 W</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>New England</td>\n      <td>42.21 N</td>\n      <td>71.04 W</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>New Orleans</td>\n      <td>29.58 N</td>\n      <td>90.07 W</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>New York Giants</td>\n      <td>40.43 N</td>\n      <td>74.01 W</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>New York Jets</td>\n      <td>40.43 N</td>\n      <td>74.01 W</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>Oakland</td>\n      <td>37.47 N</td>\n      <td>122.13 W</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>Philadelphia</td>\n      <td>39.57 N</td>\n      <td>75.07 W</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>Pittsburgh</td>\n      <td>40.26 N</td>\n      <td>80.00 W</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>Saint Louis</td>\n      <td>38.38 N</td>\n      <td>90.11 W</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>San Diego</td>\n      <td>32.43 N</td>\n      <td>118.09 W</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>San Francisco</td>\n      <td>37.48 N</td>\n      <td>122.24 W</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>Seattle</td>\n      <td>47.36 N</td>\n      <td>122.20 W</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>Tampa</td>\n      <td>27.57 N</td>\n      <td>82.27 W</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>Tennessee</td>\n      <td>36.09 N</td>\n      <td>86.48 W</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>Washington</td>\n      <td>38.54 N</td>\n      <td>77.01 W</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
new_df.to_html('NFL_Stadium_Locations.html')
!open NFL_Stadium_Locations.html