In [1]:
# Import Libraries
import pandas as pd
import requests
import pymongo
from bs4 import BeautifulSoup as bs
import requests
#from api_keys import weather_api_key
import prettypandas
import json

In [3]:
# import and set up CSV
schedule_csv = "Resources/NFLSchedule.csv"

full_schedule = pd.read_csv(schedule_csv)
full_schedule.head()

,Unnamed: 0,Year,Week,Day,Date,Time,Winner/tie,Loser/tie,PtsW,PtsL,YdsW,TOW,YdsL,TOL,HomeTeam,AwayTeam
0,0,1967,1,Sun,September 17,NaN,Pittsburgh Steelers,Chicago Bears,41,13,393,2,95,6,Pittsburgh Steelers,Chicago Bears
1,1,1967,1,Sun,September 17,NaN,Baltimore Colts,Atlanta Falcons,38,31,508,2,303,5,Baltimore Colts,Atlanta Falcons
2,2,1967,1,Sun,September 17,NaN,Green Bay Packers,Detroit Lions,17,17,306,5,233,1,Green Bay Packers,Detroit Lions
3,3,1967,1,Sun,September 17,NaN,Philadelphia Eagles,Washington Redskins,35,24,426,2,388,1,Philadelphia Eagles,Washington Redskins
4,4,1967,1,Sun,September 17,NaN,San Francisco 49ers,Minnesota Vikings,27,21,360,1,335,3,Minnesota Vikings,San Francisco 49ers