In [ ]:
#filled_locations = empty_locations
#filled_locations

In [ ]:
#empty_locations["Latitude"] = empty_locations["Latitude"].fillna(27.57)
#empty_locations["Longitude"] = empty_locations["Longitude"].fillna(-82.27)

In [ ]:
#table_1 = pd.read_csv("Table 1.csv")
#table_2 = pd.read_csv("Table 2.csv")
#table_3 = pd.read_csv("Table 3.csv")
#table_4 = pd.read_csv("Table 4.csv")
#table_5 = pd.read_csv("Table 5.csv")
#table_6 = pd.read_csv("Table 6.csv")

In [1]:
import pandas as pd
import requests
from pprint import pprint
import time as T
from datetime import datetime
import pymongo
import json
import numpy as np

In [2]:
table_1 = pd.read_csv("exports/Table 1.csv", parse_dates = [0])
table_2 = pd.read_csv("exports/Table 2.csv", parse_dates = [0])
table_3 = pd.read_csv("exports/Table 3.csv", parse_dates = [0])
table_4 = pd.read_csv("exports/Table 4.csv", parse_dates = [0])
table_5 = pd.read_csv("exports/Table 5.csv", parse_dates = [0])
table_6 = pd.read_csv("exports/Table 6.csv", parse_dates = [0])

In [3]:
table_1['Full Date'] = table_1['Full Date'].dt.strftime('%Y-%m-%d')
table_2['Full Date'] = table_2['Full Date'].dt.strftime('%Y-%m-%d')
table_3['Full Date'] = table_3['Full Date'].dt.strftime('%Y-%m-%d')
table_4['Full Date'] = table_4['Full Date'].dt.strftime('%Y-%m-%d')
table_5['Full Date'] = table_5['Full Date'].dt.strftime('%Y-%m-%d')
table_6['Full Date'] = table_6['Full Date'].dt.strftime('%Y-%m-%d')

In [4]:
#table_1.head()

In [37]:
merged = pd.concat([table_1,table_2,table_3,table_4,table_5,table_6], axis=0)

In [38]:
# Step one: fill in blanks for Tampa Bay

In [39]:
empty_locations = merged[merged.Latitude.isnull()]
empty_locations

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
20,2008-09-14,4:05PM,1600,15,2,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,81.0,{'value': 'Moderate or heavy rain shower'},71.0
44,2008-09-28,1:02PM,1300,12,4,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,90.0,{'value': 'Patchy rain possible'},46.0
62,2008-10-12,1:02PM,1300,12,6,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,84.0,{'value': 'Moderate or heavy rain shower'},37.0
2,2008-10-19,8:23PM,2000,19,7,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,74.0,{'value': 'Light rain shower'},62.0
42,2008-11-16,1:02PM,1300,12,11,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,86.0,{'value': 'Overcast'},90.0
67,2008-11-30,1:02PM,1300,12,13,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,76.0,{'value': 'Sunny'},0.0
33,2008-12-21,1:02PM,1300,12,16,Tampa Bay,Buccaneers,Chargers,NaN,NaN,84.0,{'value': 'Sunny'},10.0
45,2008-12-28,1:02PM,1300,12,17,Tampa Bay,Buccaneers,Raiders,NaN,NaN,85.0,{'value': 'Sunny'},15.0
68,2009-09-13,1:03PM,1300,12,1,Tampa Bay,Buccaneers,Cowboys,NaN,NaN,86.0,{'value': 'Cloudy'},75.0
90,2009-09-27,1:00PM,1300,12,3,Tampa Bay,Buccaneers,Giants,NaN,NaN,91.0,{'value': 'Partly cloudy'},27.0
125,2009-10-18,1:00PM,1300,12,6,Tampa Bay,Buccaneers,Panthers,NaN,NaN,84.0,{'value': 'Patchy rain possible'},28.0
140,2009-10-25,1:06PM,1300,12,7,Tampa Bay,Buccaneers,Patriots,NaN,NaN,88.0,{'value': 'Partly cloudy'},37.0
162,2009-11-08,1:03PM,1300,12,9,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,91.0,{'value': 'Sunny'},10.0
184,2009-11-22,1:00PM,1300,12,11,Tampa Bay,Buccaneers,Saints,NaN,NaN,80.0,{'value': 'Sunny'},12.0
221,2009-12-13,1:00PM,1300,12,14,Tampa Bay,Buccaneers,Jets,NaN,NaN,86.0,{'value': 'Sunny'},9.0
263,2009-01-03,1:03PM,1300,12,17,Tampa Bay,Buccaneers,Falcons,NaN,NaN,77.0,{'value': 'Partly cloudy'},59.0
279,2010-09-12,1:02PM,1300,12,1,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,81.0,{'value': 'Moderate rain at times'},67.0
307,2010-09-26,1:03PM,1300,12,3,Tampa Bay,Buccaneers,Steelers,NaN,NaN,92.0,{'value': 'Patchy rain possible'},40.0

In [40]:
#locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})
#locations = pd.DataFrame(locations_list)
#locations = locations.round(2)

In [41]:
merged["Latitude"] = merged["Latitude"].fillna(27.57)
merged["Longitude"] = merged["Longitude"].fillna(-82.27)

In [42]:
#merged.head(25)

In [43]:
# titans and other teams with blank rows/pulls

In [ ]:
#empty_pull = merged[merged.weatherDesc.isnull()]
#empty_pull

In [ ]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].fillna(0)
#empty_pull

In [ ]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].astype(int)
#empty_pull.dtypes

In [ ]:
#empty_pull["Full Date"] = empty_pull["Full Date"].str.replace('/','-')
#empty_pull["Full Date"] = pd.to_datetime(empty_pull["Full Date"], format="%Y-%m-%d")
#empty_pull

In [ ]:
#test = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date=2008-09-21&tp=24&format=json"

In [ ]:
#base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date="
#for index, row in empty_pull.iterrows():
#    try:
#
 #       date = row["Full Date"]
  #      weather_url = f"{base_url},{date}&tp=24&format=json"
   #     weather_info = requests.get(weather_url).json()
    #    
        #print("------------")
        #pprint(weather_info)
        #print("------------")
        
     #   empty_pull.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][0]['tempF']
      #  empty_pull.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][0]['weatherDesc']
       # empty_pull.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][0]['cloudcover']
        #
        #print("------------")
        #print(weather_info)
        #print("------------")
     #   T.sleep(.5)
     #   print(date)
   # except (KeyError,IndexError):
   #     print("------------")
   #     print("interrupt asap")
   #     print(weather_url)
   #     print(index)
   #     print("------------")
   #     pass

In [ ]:
#empty_pull

In [ ]:
# run API call last time for the blanks (mainly titans) - it will be for average of day.

In [ ]:
#Step 3

In [ ]:
#merged

In [44]:
# Step 4 remove duplicates
merged = merged.drop_duplicates()
#merged

In [45]:
merged = merged.reset_index()
#merged

In [46]:
#weather description
merged["weatherDesc"] = merged["weatherDesc"].str.replace("{'value': '","")
merged

<ipython-input-46-406d35f996d7>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  merged["weatherDesc"] = merged["weatherDesc"].str.replace("{'value': '","")

,index,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72.0,Clear'},0.0
1,1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82.0,Partly cloudy'},38.0
2,2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59.0,Light rain shower'},97.0
3,3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82.0,Partly cloudy'},38.0
4,4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72.0,Sunny'},14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,462,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,34.0,Partly cloudy'},53.0
1745,463,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,56.0,Sunny'},3.0
1746,464,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,64.0,Partly cloudy'},40.0
1747,465,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,33.0,Overcast'},100.0
1748,466,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,58.0,Partly cloudy'},57.0

In [47]:
merged["weatherDesc"] = merged["weatherDesc"].str[:-2]
#merged

In [48]:
merged["cloudcover"] = [str(x)+'%' for x in merged["cloudcover"]]
merged

,index,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72.0,Clear,0.0%
1,1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82.0,Partly cloudy,38.0%
2,2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59.0,Light rain shower,97.0%
3,3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82.0,Partly cloudy,38.0%
4,4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72.0,Sunny,14.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,462,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,34.0,Partly cloudy,53.0%
1745,463,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,56.0,Sunny,3.0%
1746,464,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,64.0,Partly cloudy,40.0%
1747,465,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,33.0,Overcast,100.0%
1748,466,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,58.0,Partly cloudy,57.0%

In [49]:
merged.rename(columns={"Starting Game Temp (F)":"Kickoff_Temp",
                            "weatherDesc":"Weather_Element",
                            "cloudcover":"Cloudiness",
                            "Time":"Kickoff_Time",
                            "Home Team":"Home_Team"}, inplace=True)

In [51]:
print(merged["Full Date"].value_counts())

2012-09-16    14
2010-09-12    14
2009-12-06    14
2009-11-22    14
2014-09-14    13
              ..
2012-12-13     1
2012-12-17     1
2013-10-21     1
2014-12-22     1
2015-09-10     1
Name: Full Date, Length: 372, dtype: int64

In [52]:
## Group Weather Elements
# Rain - Light
merged["Weather_Element"] = merged["Weather_Element"].replace(['Light rain','Patchy light drizzle','Patchy rain possible',
                                                               'Light rain shower','Light drizzle','Patchy light rain',
                                                               'Patchy light rain with thunder','Thundery outbreaks possible'],'Rain - Light')
# Fair
merged["Weather_Element"] = merged["Weather_Element"].replace(['Sunny','Partly cloudy','Clear',
                                                               'Cloudy','Overcast'],'Fair')
# Rain - Normal
merged["Weather_Element"] = merged["Weather_Element"].replace(['Moderate or heavy rain shower','Moderate rain','Moderate rain at times',
                                                               'Thundery outbreaks possbile'],'Rain - Normal')                                                               
# Rain - Heavy
merged["Weather_Element"] = merged["Weather_Element"].replace(['Heavy rain','Torrential rain shower','Moderate or heavy freezing rain',
                                                               'Heavy rain at times'],'Rain - Heavy')
# Snow - Light
merged["Weather_Element"] = merged["Weather_Element"].replace(['Light snow','Light snow'],'Snow - Light')
# Snow - Normal
merged["Weather_Element"] = merged["Weather_Element"].replace(['Moderate snow','Blowing snow','Ice pellets','Light sleet'],'Snow - Normal')
# Snow - Heavy
merged["Weather_Element"] = merged["Weather_Element"].replace(['Heavy snow','Patchy heavy snow','Blizzard',
                                                               'Moderate or heavy snow showers'],'Snow - Heavy')
# Fog/Mist
merged["Weather_Element"] = merged["Weather_Element"].replace(['Fog','Mist'],'Fog/Mist')

In [53]:
merged.head()

,index,Full Date,Kickoff_Time,time_conv,time_index,Week,City,Home_Team,Winner,Latitude,Longitude,Kickoff_Temp,Weather_Element,Cloudiness
0,0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72.0,Fair,0.0%
1,1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82.0,Fair,38.0%
2,2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59.0,Rain - Light,97.0%
3,3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82.0,Fair,38.0%
4,4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72.0,Fair,14.0%

In [20]:
print(merged["Weather_Element"].value_counts())

Fair             1375
Rain - Light      200
Rain - Normal      56
Rain - Heavy       14
Fog/Mist           12
Snow - Heavy       10
Snow - Normal       6
Snow - Light        2
Name: Weather_Element, dtype: int64

In [58]:
merged["Season"] = merged["Full Date"].str[0:4]
merged["Month"] = merged["Full Date"].str[5:7]
#merged

In [59]:
print(merged["Month"].value_counts())

12    453
11    419
10    392
09    362
01    116
02      7
Name: Month, dtype: int64

In [60]:
dropped_df = merged[
    ["Season","Month","Week","Kickoff_Time",
     "Winner","Home_Team","City","Kickoff_Temp",
     "Weather_Element","Cloudiness"]]

In [61]:
dropped_df = dropped_df.sort_index()

In [62]:
dropped_df["Stadium Location"] ="(" + merged["Latitude"].astype(str) + ", " + merged["Longitude"].astype(str) + ")"

In [63]:
new_df = dropped_df
#new_df

In [64]:
city= ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 
      'Carolina', 'Cincinnati','Cleveland', 'Denver', 
      'Indianapolis', 'Jacksonville', 'Kansas City',
      'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia',
      'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 
      'Seattle', 'Tampa Bay', 'Tennessee', 'Washington']

In [65]:
# copy locations dictionary from other notebook
# locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})

In [66]:
# Stadium df
url = 'https://simple.wikipedia.org/wiki/List_of_National_Football_League_stadiums'
scrape = pd.read_html(url)
#type(scrape)
#scrape
stadium_scrape = scrape[1]

In [67]:
stadium_name = stadium_scrape[["Stadium","City","Home teams"]]
#stadium_name

In [68]:
stadium_list = ['Soldier Field','Lambeau Field','State Farm Stadium','M&T Bank Stadium','New Era Field',
           'Bank of America Stadium','Paul Brown Stadium','FirstEnergy Stadium','Empower Field at Mile High',
           'Lucas Oil Stadium','TIAA Bank Field','Arrowhead Stadium',
          'Hard Rock Stadium','Gillette Stadium','MetLife Stadium','Oakland Coliseum(*)','Lincoln Financial Field',
          'Heinz Field','Edward Jones Dome','Qualcomm Stadium','Levis Stadium',
          'Lumen Field','Raymond James Stadium','Nissan Stadium','FedEx Field']

In [69]:
stadium_dict = {'City':city,
                'Stadium':stadium_list
               }
stadium_dict
stadium_df = pd.DataFrame(stadium_dict)
#stadium_df

In [92]:
merged_stadium = pd.merge(left=new_df, right=stadium_df, how='left', left_on="City", right_on="City")
merged_stadium

,Season,Month,Week,Kickoff_Time,Winner,Home_Team,City,Kickoff_Temp,Weather_Element,Cloudiness,Stadium Location,Stadium
0,2008,09,1,7:08PM,Giants,Giants,New York,72.0,Fair,0.0%,"(40.43, -74.01)",MetLife Stadium
1,2008,09,1,1:02PM,Eagles,Eagles,Philadelphia,82.0,Fair,38.0%,"(39.57, -75.07)",Lincoln Financial Field
2,2008,09,1,1:02PM,Jets,Dolphins,Miami,59.0,Rain - Light,97.0%,"(25.46, -80.12)",Hard Rock Stadium
3,2008,09,1,1:02PM,Patriots,Patriots,New England,82.0,Fair,38.0%,"(42.21, -71.04)",Gillette Stadium
4,2008,09,1,1:02PM,Steelers,Steelers,Pittsburgh,72.0,Fair,14.0%,"(40.26, -80.0)",Heinz Field
...,...,...,...,...,...,...,...,...,...,...,...,...
1744,2015,01,Division,1:06PM,Panthers,Panthers,Carolina,34.0,Fair,53.0%,"(35.14, -80.5)",Bank of America Stadium
1745,2015,01,Division,4:40PM,Broncos,Broncos,Denver,56.0,Fair,3.0%,"(39.43, -105.01)",Empower Field at Mile High
1746,2015,01,ConfChamp,3:05PM,Broncos,Broncos,Denver,64.0,Fair,40.0%,"(39.43, -105.01)",Empower Field at Mile High
1747,2015,01,ConfChamp,6:42PM,Panthers,Panthers,Carolina,33.0,Fair,100.0%,"(35.14, -80.5)",Bank of America Stadium
1748,2015,02,SuperBowl,6:39PM,Broncos,Broncos,Denver,58.0,Fair,57.0%,"(39.43, -105.01)",Empower Field at Mile High

In [71]:
Dataset_df = merged_stadium

In [72]:
# turn into JSON
Dataset_json = Dataset_df.to_json('../Web Page/static/data/Table.json',orient = "records")
display_json = Dataset_df
#Dataset_json

In [73]:
pprint(display_json, indent="3")

     Season Month       Week Kickoff_Time    Winner Home_Team          City  \
0      2008    09          1       7:08PM    Giants    Giants      New York
1      2008    09          1       1:02PM    Eagles    Eagles  Philadelphia
2      2008    09          1       1:02PM      Jets  Dolphins         Miami
3      2008    09          1       1:02PM  Patriots  Patriots   New England
4      2008    09          1       1:02PM  Steelers  Steelers    Pittsburgh
...     ...   ...        ...          ...       ...       ...           ...
1744   2015    01   Division       1:06PM  Panthers  Panthers      Carolina
1745   2015    01   Division       4:40PM   Broncos   Broncos        Denver
1746   2015    01  ConfChamp       3:05PM   Broncos   Broncos        Denver
1747   2015    01  ConfChamp       6:42PM  Panthers  Panthers      Carolina
1748   2015    02  SuperBowl       6:39PM   Broncos   Broncos        Denver

      Kickoff_Temp Weather_Element Cloudiness  Stadium Location  \
0             72.0            Fair       0.0%   (40.43, -74.01)
1             82.0            Fair      38.0%   (39.57, -75.07)
2             59.0    Rain - Light      97.0%   (25.46, -80.12)
3             82.0            Fair      38.0%   (42.21, -71.04)
4             72.0            Fair      14.0%    (40.26, -80.0)
...            ...             ...        ...               ...
1744          34.0            Fair      53.0%    (35.14, -80.5)
1745          56.0            Fair       3.0%  (39.43, -105.01)
1746          64.0            Fair      40.0%  (39.43, -105.01)
1747          33.0            Fair     100.0%    (35.14, -80.5)
1748          58.0            Fair      57.0%  (39.43, -105.01)

                         Stadium
0                MetLife Stadium
1        Lincoln Financial Field
2              Hard Rock Stadium
3               Gillette Stadium
4                    Heinz Field
...                          ...
1744     Bank of America Stadium
1745  Empower Field at Mile High
1746  Empower Field at Mile High
1747     Bank of America Stadium
1748  Empower Field at Mile High

[1749 rows x 12 columns]

In [74]:
# table set for years and quantity of weather elements

In [75]:
# table by months x elements count

In [76]:
#months = merged_stadium[
      #  ["Month","Weather_Element",
      #   "Weather_Element","Cloudiness"]
      #  ]

In [95]:
look_up = {'01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May',
            '06': 'Jun', '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct', '11': 'Nov', '12': 'Dec'}

In [96]:
month_name_change = merged_stadium
#month_name_change.head()
month_name_change["Month"] = month_name_change["Month"].apply(lambda x: look_up[x])
month_name_change.head()

,Season,Month,Week,Kickoff_Time,Winner,Home_Team,City,Kickoff_Temp,Weather_Element,Cloudiness,Stadium Location,Stadium
0,2008,Sep,1,7:08PM,Giants,Giants,New York,72.0,Fair,0.0%,"(40.43, -74.01)",MetLife Stadium
1,2008,Sep,1,1:02PM,Eagles,Eagles,Philadelphia,82.0,Fair,38.0%,"(39.57, -75.07)",Lincoln Financial Field
2,2008,Sep,1,1:02PM,Jets,Dolphins,Miami,59.0,Rain - Light,97.0%,"(25.46, -80.12)",Hard Rock Stadium
3,2008,Sep,1,1:02PM,Patriots,Patriots,New England,82.0,Fair,38.0%,"(42.21, -71.04)",Gillette Stadium
4,2008,Sep,1,1:02PM,Steelers,Steelers,Pittsburgh,72.0,Fair,14.0%,"(40.26, -80.0)",Heinz Field

In [97]:
months = merged_stadium.pivot_table(index='Weather_Element', columns='Month',
                                    aggfunc='size',fill_value=0)

In [100]:
months

Month            Dec  Feb  Jan  Nov  Oct  Sep
Weather_Element
Fair             370    5   84  332  322  262
Fog/Mist           4    0    1    4    1    2
Rain - Heavy       1    0    0    5    0    8
Rain - Light      41    1    7   52   38   61
Rain - Normal      5    0   11   10   15   15
Snow - Heavy       6    0    2    2    0    0
Snow - Light       2    0    0    0    0    0
Snow - Normal      4    0    2    0    0    0

In [103]:
teams = merged_stadium.pivot_table(index='Weather_Element', columns='Home_Team',
                                    aggfunc='size',fill_value=0)

In [104]:
teams

Home_Team,49ers,Bears,Bengals,Bills,Broncos,Browns,Buccaneers,Cardinals,Chargers,Chiefs,...,Jets,Packers,Panthers,Patriots,Raiders,Rams,Ravens,Redskins,Seahawks,Steelers
Weather_Element,,,,,,,,,,,,,,,,,,,,,
Fair,53,47,54,53,59,48,53,60,60,54,...,58,60,55,58,45,55,50,56,61,61
Fog/Mist,0,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,1,0,4,0,0
Rain - Heavy,0,0,2,0,0,0,0,0,0,1,...,1,1,0,2,0,0,1,0,1,0
Rain - Light,14,13,10,10,8,11,13,3,4,8,...,4,4,9,10,17,7,13,5,3,5
Rain - Normal,1,6,1,1,5,5,3,1,1,1,...,0,2,1,4,2,2,3,2,2,0
Snow - Heavy,0,0,0,0,0,0,0,1,0,0,...,1,1,2,0,1,1,0,0,1,0
Snow - Light,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Snow - Normal,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,2,2,0

In [110]:
teams.to_csv('../Web Page/static/data/teams.csv')

In [ ]:
months.to_csv(../Web Page/static/data/teams.csv)

In [ ]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [ ]:
db = client.Dataset_df
collection = db.Dataset_df
data = json.loads(Dataset_json)
collection.insert_many(data)
cursor = list(collection.find({}))
for document in cursor:
    print(document)