In [ ]:
#filled_locations = empty_locations
#filled_locations

In [ ]:
#empty_locations["Latitude"] = empty_locations["Latitude"].fillna(27.57)
#empty_locations["Longitude"] = empty_locations["Longitude"].fillna(-82.27)

In [2]:
#table_1 = pd.read_csv("Table 1.csv")
#table_2 = pd.read_csv("Table 2.csv")
#table_3 = pd.read_csv("Table 3.csv")
#table_4 = pd.read_csv("Table 4.csv")
#table_5 = pd.read_csv("Table 5.csv")
#table_6 = pd.read_csv("Table 6.csv")

In [25]:
import pandas as pd
import requests
from pprint import pprint
import time as T
from datetime import datetime
import pymongo
import json

In [26]:
table_1 = pd.read_csv("exports/Table 1.csv", parse_dates = [0])
table_2 = pd.read_csv("exports/Table 2.csv", parse_dates = [0])
table_3 = pd.read_csv("exports/Table 3.csv", parse_dates = [0])
table_4 = pd.read_csv("exports/Table 4.csv", parse_dates = [0])
table_5 = pd.read_csv("exports/Table 5.csv", parse_dates = [0])
table_6 = pd.read_csv("exports/Table 6.csv", parse_dates = [0])

In [27]:
table_1['Full Date'] = table_1['Full Date'].dt.strftime('%Y-%m-%d')
table_2['Full Date'] = table_2['Full Date'].dt.strftime('%Y-%m-%d')
table_3['Full Date'] = table_3['Full Date'].dt.strftime('%Y-%m-%d')
table_4['Full Date'] = table_4['Full Date'].dt.strftime('%Y-%m-%d')
table_5['Full Date'] = table_5['Full Date'].dt.strftime('%Y-%m-%d')
table_6['Full Date'] = table_6['Full Date'].dt.strftime('%Y-%m-%d')

In [28]:
#table_1.head()

In [53]:
merged = pd.concat([table_1,table_2,table_3,table_4,table_5,table_6], axis=0)

In [54]:
# Step one: fill in blanks for Tampa Bay

In [55]:
empty_locations = merged[merged.Latitude.isnull()]
empty_locations

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
20,2008-09-14,4:05PM,1600,15,2,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,81.0,{'value': 'Moderate or heavy rain shower'},71.0
44,2008-09-28,1:02PM,1300,12,4,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,90.0,{'value': 'Patchy rain possible'},46.0
62,2008-10-12,1:02PM,1300,12,6,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,84.0,{'value': 'Moderate or heavy rain shower'},37.0
2,2008-10-19,8:23PM,2000,19,7,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,74.0,{'value': 'Light rain shower'},62.0
42,2008-11-16,1:02PM,1300,12,11,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,86.0,{'value': 'Overcast'},90.0
67,2008-11-30,1:02PM,1300,12,13,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,76.0,{'value': 'Sunny'},0.0
33,2008-12-21,1:02PM,1300,12,16,Tampa Bay,Buccaneers,Chargers,NaN,NaN,84.0,{'value': 'Sunny'},10.0
45,2008-12-28,1:02PM,1300,12,17,Tampa Bay,Buccaneers,Raiders,NaN,NaN,85.0,{'value': 'Sunny'},15.0
68,2009-09-13,1:03PM,1300,12,1,Tampa Bay,Buccaneers,Cowboys,NaN,NaN,86.0,{'value': 'Cloudy'},75.0
90,2009-09-27,1:00PM,1300,12,3,Tampa Bay,Buccaneers,Giants,NaN,NaN,91.0,{'value': 'Partly cloudy'},27.0
125,2009-10-18,1:00PM,1300,12,6,Tampa Bay,Buccaneers,Panthers,NaN,NaN,84.0,{'value': 'Patchy rain possible'},28.0
140,2009-10-25,1:06PM,1300,12,7,Tampa Bay,Buccaneers,Patriots,NaN,NaN,88.0,{'value': 'Partly cloudy'},37.0
162,2009-11-08,1:03PM,1300,12,9,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,91.0,{'value': 'Sunny'},10.0
184,2009-11-22,1:00PM,1300,12,11,Tampa Bay,Buccaneers,Saints,NaN,NaN,80.0,{'value': 'Sunny'},12.0
221,2009-12-13,1:00PM,1300,12,14,Tampa Bay,Buccaneers,Jets,NaN,NaN,86.0,{'value': 'Sunny'},9.0
263,2009-01-03,1:03PM,1300,12,17,Tampa Bay,Buccaneers,Falcons,NaN,NaN,77.0,{'value': 'Partly cloudy'},59.0
279,2010-09-12,1:02PM,1300,12,1,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,81.0,{'value': 'Moderate rain at times'},67.0
307,2010-09-26,1:03PM,1300,12,3,Tampa Bay,Buccaneers,Steelers,NaN,NaN,92.0,{'value': 'Patchy rain possible'},40.0

In [56]:
#locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})
#locations = pd.DataFrame(locations_list)
#locations = locations.round(2)

In [57]:
merged["Latitude"] = merged["Latitude"].fillna(27.57)
merged["Longitude"] = merged["Longitude"].fillna(-82.27)

In [58]:
#merged.head(25)

In [35]:
# titans and other teams with blank rows/pulls

In [36]:
#empty_pull = merged[merged.weatherDesc.isnull()]
#empty_pull

In [37]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].fillna(0)
#empty_pull

In [38]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].astype(int)
#empty_pull.dtypes

In [39]:
#empty_pull["Full Date"] = empty_pull["Full Date"].str.replace('/','-')
#empty_pull["Full Date"] = pd.to_datetime(empty_pull["Full Date"], format="%Y-%m-%d")
#empty_pull

In [40]:
#test = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date=2008-09-21&tp=24&format=json"

In [41]:
#base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date="
#for index, row in empty_pull.iterrows():
#    try:
#
 #       date = row["Full Date"]
  #      weather_url = f"{base_url},{date}&tp=24&format=json"
   #     weather_info = requests.get(weather_url).json()
    #    
        #print("------------")
        #pprint(weather_info)
        #print("------------")
        
     #   empty_pull.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][0]['tempF']
      #  empty_pull.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][0]['weatherDesc']
       # empty_pull.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][0]['cloudcover']
        #
        #print("------------")
        #print(weather_info)
        #print("------------")
     #   T.sleep(.5)
     #   print(date)
   # except (KeyError,IndexError):
   #     print("------------")
   #     print("interrupt asap")
   #     print(weather_url)
   #     print(index)
   #     print("------------")
   #     pass

In [42]:
#empty_pull

In [ ]:
# run API call last time for the blanks (mainly titans) - it will be for average of day.

In [ ]:
#Step 3

In [ ]:
#merged

In [59]:
# Step 4 remove duplicates
merged = merged.drop_duplicates()
#merged

In [60]:
merged = merged.reset_index()
#merged

In [61]:
#weather description
merged["weatherDesc"] = merged["weatherDesc"].str.replace("{'value': '","")
#merged

<ipython-input-61-2365fb00dce4>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  merged["weatherDesc"] = merged["weatherDesc"].str.replace("{'value': '","")

In [62]:
merged["weatherDesc"] = merged["weatherDesc"].str[:-2]
#merged

In [63]:
merged["cloudcover"] = [str(x)+'%' for x in merged["cloudcover"]]
merged

,index,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72.0,Clear,0.0%
1,1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82.0,Partly cloudy,38.0%
2,2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59.0,Light rain shower,97.0%
3,3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82.0,Partly cloudy,38.0%
4,4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72.0,Sunny,14.0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1744,462,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,34.0,Partly cloudy,53.0%
1745,463,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,56.0,Sunny,3.0%
1746,464,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,64.0,Partly cloudy,40.0%
1747,465,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,33.0,Overcast,100.0%
1748,466,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,58.0,Partly cloudy,57.0%

In [64]:
merged.rename(columns={"Starting Game Temp (F)":"Kickoff_Temp",
                            "weatherDesc":"Weather_Element",
                            "cloudcover":"Cloudiness",
                            "Time":"Kickoff_Time",
                            "Home Team":"Home_Team"}, inplace=True)

In [65]:
print(merged["Weather_Element"].value_counts())

Sunny                              705
Partly cloudy                      305
Clear                              170
Cloudy                             132
Patchy rain possible                73
Overcast                            63
Light rain shower                   43
Light drizzle                       36
Moderate or heavy rain shower       30
Moderate rain                       22
Light rain                          18
Patchy light drizzle                16
Patchy light rain                    7
Fog                                  6
Mist                                 6
Heavy rain                           6
Heavy snow                           4
Patchy light rain with thunder       4
Moderate rain at times               4
Ice pellets                          3
Torrential rain shower               3
Moderate or heavy freezing rain      3
Thundery outbreaks possible          3
Heavy rain at times                  2
Moderate or heavy snow showers       2
Blizzard                             2
Patchy heavy snow                    2
Light snow                           2
Moderate snow                        1
Blowing snow                         1
Light sleet                          1
Name: Weather_Element, dtype: int64

In [66]:
## Group Weather Elements
# Rain - Light
merged["Weather_Element"] = merged["Weather_Element"].replace(['Light rain','Patchy light drizzle','Patchy rain possible',
                                                               'Light rain shower','Light drizzle','Patchy light rain'],
                                                              'Rain - Light')
# Fair
merged["Weather_Element"] = merged["Weather_Element"].replace(['Sunny','Partly Cloudy','Clear',
                                                               'Cloudy','Overcast'],'Fair')
# Rain - Normal
merged["Weather_Element"] = merged["Weather_Element"].replace(['Moderate or heavy rain shower','Moderate rain','Moderate rain at times',
                                                               'Thundery outbreaks possbile'],'Rain - Normal')                                                               
# Rain - Heavy
merged["Weather_Element"] = merged["Weather_Element"].replace([
# Snow - Light
# Snow - Normal
# Snow - Heavy

In [67]:
merged.head()

,index,Full Date,Kickoff_Time,time_conv,time_index,Week,City,Home_Team,Winner,Latitude,Longitude,Kickoff_Temp,Weather_Element,Cloudiness
0,0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72.0,Clear,0.0%
1,1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82.0,Partly cloudy,38.0%
2,2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59.0,Rain - Light,97.0%
3,3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82.0,Partly cloudy,38.0%
4,4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72.0,Sunny,14.0%

In [68]:
print(merged["Weather_Element"].value_counts())

Sunny                              705
Partly cloudy                      305
Rain - Light                       193
Clear                              170
Cloudy                             132
Overcast                            63
Moderate or heavy rain shower       30
Moderate rain                       22
Mist                                 6
Heavy rain                           6
Fog                                  6
Patchy light rain with thunder       4
Heavy snow                           4
Moderate rain at times               4
Thundery outbreaks possible          3
Ice pellets                          3
Torrential rain shower               3
Moderate or heavy freezing rain      3
Light snow                           2
Moderate or heavy snow showers       2
Patchy heavy snow                    2
Blizzard                             2
Heavy rain at times                  2
Moderate snow                        1
Blowing snow                         1
Light sleet                          1
Name: Weather_Element, dtype: int64

In [ ]:
merged["Season"] = merged["Full Date"].str[0:4]
merged["Month"] = merged["Full Date"].str[6:7]
#merged

In [ ]:
dropped_df = merged[
    ["Season","Month","Week","Kickoff_Time",
     "Winner","Home_Team","City","Kickoff_Temp",
     "Weather_Element","Cloudiness"]]

In [ ]:
dropped_df = dropped_df.sort_index()

In [ ]:
dropped_df["Stadium Location"] ="(" + merged["Latitude"].astype(str) + ", " + merged["Longitude"].astype(str) + ")"

In [ ]:
new_df = dropped_df
#new_df

In [ ]:
city= ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 
      'Carolina', 'Cincinnati','Cleveland', 'Denver', 
      'Indianapolis', 'Jacksonville', 'Kansas City',
      'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia',
      'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 
      'Seattle', 'Tampa Bay', 'Tennessee', 'Washington']

In [ ]:
# copy locations dictionary from other notebook
# locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})

In [ ]:
# Stadium df
url = 'https://simple.wikipedia.org/wiki/List_of_National_Football_League_stadiums'
scrape = pd.read_html(url)
#type(scrape)
#scrape
stadium_scrape = scrape[1]

In [ ]:
stadium_name = stadium_scrape[["Stadium","City","Home teams"]]
#stadium_name

In [ ]:
stadium_list = ['Soldier Field','Lambeau Field','State Farm Stadium','M&T Bank Stadium','New Era Field',
           'Bank of America Stadium','Paul Brown Stadium','FirstEnergy Stadium','Empower Field at Mile High',
           'Lucas Oil Stadium','TIAA Bank Field','Arrowhead Stadium',
          'Hard Rock Stadium','Gillette Stadium','MetLife Stadium','Oakland Coliseum(*)','Lincoln Financial Field',
          'Heinz Field','Edward Jones Dome','Qualcomm Stadium','Levis Stadium',
          'Lumen Field','Raymond James Stadium','Nissan Stadium','FedEx Field']

In [ ]:
stadium_dict = {'City':city,
                'Stadium':stadium_list
               }
stadium_dict
stadium_df = pd.DataFrame(stadium_dict)
#stadium_df

In [ ]:
merged_stadium = pd.merge(left=new_df, right=stadium_df, how='left', left_on="City", right_on="City")
merged_stadium

In [ ]:
Dataset_df = merged_stadium

In [ ]:
# turn into JSON
Dataset_json = Dataset_df.to_json('../Web Page/static/data/Table.json',orient = "records")
display_json = Dataset_df
#Dataset_json

In [ ]:
pprint(display_json, indent="3")

In [ ]:
# table set for years and quantity of weather elements

In [ ]:
# table by months x elements count

In [ ]:
#months = merged_stadium[
        ["Month","Weather_Element",
         "Weather_Element","Cloudiness"]
        ]

In [ ]:
months = merged_stadium[
        ["Month","Weather_Element"]]

In [ ]:
months.head()

In [ ]:
print(months["Weather_Element"].value_counts())

In [ ]:
months = months.groupby('Weather_Element')['Month'].nunique()

In [ ]:
months.head()

In [ ]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [ ]:
db = client.Dataset_df
collection = db.Dataset_df
data = json.loads(Dataset_json)
collection.insert_many(data)
cursor = list(collection.find({}))
for document in cursor:
    print(document)