In [ ]:
#filled_locations = empty_locations
#filled_locations

In [ ]:
#empty_locations["Latitude"] = empty_locations["Latitude"].fillna(27.57)
#empty_locations["Longitude"] = empty_locations["Longitude"].fillna(-82.27)

In [ ]:
import pandas as pd
import requests
from pprint import pprint
import time as T
from datetime import datetime
import json

In [ ]:
#table_1 = pd.read_csv("Table 1.csv")
#table_2 = pd.read_csv("Table 2.csv")
#table_3 = pd.read_csv("Table 3.csv")
#table_4 = pd.read_csv("Table 4.csv")
#table_5 = pd.read_csv("Table 5.csv")
#table_6 = pd.read_csv("Table 6.csv")

In [ ]:
table_1 = pd.read_csv("Table 1.csv", parse_dates = [0])
table_2 = pd.read_csv("Table 2.csv", parse_dates = [0])
table_3 = pd.read_csv("Table 3.csv", parse_dates = [0])
table_4 = pd.read_csv("Table 4.csv", parse_dates = [0])
table_5 = pd.read_csv("Table 5.csv", parse_dates = [0])
table_6 = pd.read_csv("Table 6.csv", parse_dates = [0])

In [ ]:
table_1['Full Date'] = table_1['Full Date'].dt.strftime('%Y-%m-%d')
table_2['Full Date'] = table_2['Full Date'].dt.strftime('%Y-%m-%d')
table_3['Full Date'] = table_3['Full Date'].dt.strftime('%Y-%m-%d')
table_4['Full Date'] = table_4['Full Date'].dt.strftime('%Y-%m-%d')
table_5['Full Date'] = table_5['Full Date'].dt.strftime('%Y-%m-%d')
table_6['Full Date'] = table_6['Full Date'].dt.strftime('%Y-%m-%d')

In [ ]:
#table_1.head()

In [ ]:
merged = pd.concat([table_1,table_2,table_3,table_4,table_5,table_6], axis=0)

In [ ]:
# Step one: fill in blanks for Tampa Bay

In [ ]:
empty_locations = merged[merged.Latitude.isnull()]
empty_locations

In [ ]:
#locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})
#locations = pd.DataFrame(locations_list)
#locations = locations.round(2)

In [ ]:
merged["Latitude"] = merged["Latitude"].fillna(27.57)
merged["Longitude"] = merged["Longitude"].fillna(-82.27)

In [ ]:
#merged.head(25)

In [ ]:
# titans and other teams with blank rows/pulls

In [ ]:
#empty_pull = merged[merged.weatherDesc.isnull()]
#empty_pull

In [ ]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].fillna(0)
#empty_pull

In [ ]:
#empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]] = empty_pull[["Starting Game Temp (F)","weatherDesc","cloudcover"]].astype(int)
#empty_pull.dtypes

In [ ]:
#empty_pull["Full Date"] = empty_pull["Full Date"].str.replace('/','-')
#empty_pull["Full Date"] = pd.to_datetime(empty_pull["Full Date"], format="%Y-%m-%d")
#empty_pull

In [ ]:
#test = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date=2008-09-21&tp=24&format=json"

In [ ]:
#base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q=36.09,-86.48&date="
#for index, row in empty_pull.iterrows():
#    try:
#
 #       date = row["Full Date"]
  #      weather_url = f"{base_url},{date}&tp=24&format=json"
   #     weather_info = requests.get(weather_url).json()
    #    
        #print("------------")
        #pprint(weather_info)
        #print("------------")
        
     #   empty_pull.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][0]['tempF']
      #  empty_pull.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][0]['weatherDesc']
       # empty_pull.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][0]['cloudcover']
        #
        #print("------------")
        #print(weather_info)
        #print("------------")
     #   T.sleep(.5)
     #   print(date)
   # except (KeyError,IndexError):
   #     print("------------")
   #     print("interrupt asap")
   #     print(weather_url)
   #     print(index)
   #     print("------------")
   #     pass

In [ ]:
#empty_pull

In [ ]:
# run API call last time for the blanks (mainly titans) - it will be for average of day.

In [ ]:
#Step 3

In [ ]:
#merged

In [ ]:
# Step 4 remove duplicates
merged = merged.drop_duplicates()
#merged

In [ ]:
merged = merged.reset_index()
#merged

In [ ]:
#weather description
merged["weatherDesc"] = merged["weatherDesc"].str.replace("{'value': '","")
#merged

In [ ]:
merged["weatherDesc"] = merged["weatherDesc"].str[:-2]
#merged

In [ ]:
merged["cloudcover"] = [str(x)+'%' for x in merged["cloudcover"]]
merged

In [ ]:
merged.rename(columns={"Starting Game Temp (F)":"Kickoff Temp (F)",
                            "weatherDesc":"Weather Element",
                            "cloudcover":"Cloudiness",
                           "Time":"Kickoff Time"}, inplace=True)

In [ ]:
#merged.head()

In [ ]:
merged["Season"] = merged["Full Date"].str[0:4]
merged["Month"] = merged["Full Date"].str[6:7]
#merged

In [ ]:
dropped_df = merged[
    ["Season","Month","Week","Kickoff Time",
     "Winner","Home Team","City","Kickoff Temp (F)",
     "Weather Element","Cloudiness"]]

In [ ]:
dropped_df = dropped_df.sort_index()

In [ ]:
dropped_df["Stadium Location"] ="(" + merged["Latitude"].astype(str) + ", " + merged["Longitude"].astype(str) + ")"

In [ ]:
new_df = dropped_df
#new_df

In [ ]:
city= ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 
      'Carolina', 'Cincinnati','Cleveland', 'Denver', 
      'Indianapolis', 'Jacksonville', 'Kansas City',
      'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia',
      'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 
      'Seattle', 'Tampa Bay', 'Tennessee', 'Washington']

In [ ]:
# copy locations dictionary from other notebook
# locations_list = ({'Franchise': ['Chicago', 'Green Bay', 'Arizona', 'Baltimore', 'Buffalo', 'Carolina', 'Cincinnati', 'Cleveland', 'Denver', 'Indianapolis', 'Jacksonville', 'Kansas City', 'Miami', 'New England', 'New York', 'Oakland', 'Philadelphia', 'Pittsburgh', 'St. Louis', 'San Diego', 'San Francisco', 'Seattle', 'Tampa Bay', 'Tennessee', 'Washington'], 'Latitude': [41.529998779296875, 44.29999923706055, 33.27000045776367, 39.16999816894531, 42.540000915527344, 35.13999938964844, 39.060001373291016, 41.29999923706055, 39.43000030517578, 39.459999084472656, 30.200000762939453, 39.060001373291016, 25.459999084472656, 42.209999084472656, 40.43000030517578, 37.470001220703125, 39.56999969482422, 40.2599983215332, 38.380001068115234, 32.43000030517578, 37.47999954223633, 47.36000061035156, 27.56999969482422, 36.09000015258789, 38.540000915527344], 'Longitude': [-87.37999725341797, -88.01000213623047, -112.05000305175781, -76.37000274658203, -78.52999877929688, -80.5, -84.30999755859375, -81.41000366210938, -105.01000213623047, -86.08999633789062, -81.4000015258789, -94.37000274658203, -80.12000274658203, -71.04000091552734, -74.01000213623047, -122.12999725341797, -75.06999969482422, -80.0, -90.11000061035156, -118.08999633789062, -122.23999786376953, -122.19999694824219, -82.2699966430664, -86.4800033569336, -77.01000213623047]})

In [ ]:
# Stadium df
url = 'https://simple.wikipedia.org/wiki/List_of_National_Football_League_stadiums'
scrape = pd.read_html(url)
#type(scrape)
#scrape
stadium_scrape = scrape[1]

In [ ]:
stadium_name = stadium_scrape[["Stadium","City","Home teams"]]
#stadium_name

In [ ]:
stadium_list = ['Soldier Field','Lambeau Field','State Farm Stadium','M&T Bank Stadium','New Era Field',
           'Bank of America Stadium','Paul Brown Stadium','FirstEnergy Stadium','Empower Field at Mile High',
           'Lucas Oil Stadium','TIAA Bank Field','Arrowhead Stadium',
          'Hard Rock Stadium','Gillette Stadium','MetLife Stadium','Oakland Coliseum(*)','Lincoln Financial Field',
          'Heinz Field','Edward Jones Dome','Qualcomm Stadium','Levis Stadium',
          'Lumen Field','Raymond James Stadium','Nissan Stadium','FedEx Field']

In [ ]:
stadium_dict = {'City':city,
                'Stadium':stadium_list
               }
stadium_dict
stadium_df = pd.DataFrame(stadium_dict)
#stadium_df

In [ ]:
merged_stadium = pd.merge(left=new_df, right=stadium_df, how='left', left_on="City", right_on="City")
#merged_stadium

In [ ]:
# turn into JSON
Dataset_json = merged_stadium.to_json(orient = "records")