In [1]:
import requests
import pandas as pd

In [2]:
# http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,87.38&date=2008-09-08&tp=1&format=json
# above is example

In [3]:
#import cleaned NFL schedule
schedule_csv = "NFL_Schedule.csv"

schedule = pd.read_csv(schedule_csv)
schedule.head()

    Full Date  New Time Week          City Home Team    Winner
0  2008-09-04         7    1      New York    Giants    Giants
1  2008-09-07         1    1  Philadelphia    Eagles    Eagles
2  2008-09-07         1    1         Miami  Dolphins      Jets
3  2008-09-07         1    1   New England  Patriots  Patriots
4  2008-09-07         1    1    Pittsburgh  Steelers  Steelers

In [14]:
#import cleaned NFL Stadium Locations
locations_csv = "NFL_Locations.csv"
locations = pd.read_csv(locations_csv)
locations

        Franchise  Latitude   Longitude
0         Chicago     41.53  -87.379997
1       Green Bay     44.30  -88.010002
2         Arizona     33.27 -112.050003
3       Baltimore     39.17  -76.370003
4         Buffalo     42.54  -78.529999
5        Carolina     35.14  -80.500000
6      Cincinnati     39.06  -84.309998
7       Cleveland     41.30  -81.410004
8          Denver     39.43 -105.010002
9    Indianapolis     39.46  -86.089996
10   Jacksonville     30.20  -81.400002
11    Kansas City     39.06  -94.370003
12          Miami     25.46  -80.120003
13    New England     42.21  -71.040001
14       New York     40.43  -74.010002
15        Oakland     37.47 -122.129997
16   Philadelphia     39.57  -75.070000
17     Pittsburgh     40.26  -80.000000
18      St. Louis     38.38  -90.110001
19      San Diego     32.43 -118.089996
20  San Francisco     37.48 -122.239998
21        Seattle     47.36 -122.199997
22          Tampa     27.57  -82.269997
23      Tennessee     36.09  -86.480003
24     Washington     38.54  -77.010002

In [15]:
locations["Latitude"] = locations["Latitude"].round(decimals=3)
locations["Longitude"] = locations["Longitude"].round(decimals=3)
locations

        Franchise  Latitude  Longitude
0         Chicago     41.53     -87.38
1       Green Bay     44.30     -88.01
2         Arizona     33.27    -112.05
3       Baltimore     39.17     -76.37
4         Buffalo     42.54     -78.53
5        Carolina     35.14     -80.50
6      Cincinnati     39.06     -84.31
7       Cleveland     41.30     -81.41
8          Denver     39.43    -105.01
9    Indianapolis     39.46     -86.09
10   Jacksonville     30.20     -81.40
11    Kansas City     39.06     -94.37
12          Miami     25.46     -80.12
13    New England     42.21     -71.04
14       New York     40.43     -74.01
15        Oakland     37.47    -122.13
16   Philadelphia     39.57     -75.07
17     Pittsburgh     40.26     -80.00
18      St. Louis     38.38     -90.11
19      San Diego     32.43    -118.09
20  San Francisco     37.48    -122.24
21        Seattle     47.36    -122.20
22          Tampa     27.57     -82.27
23      Tennessee     36.09     -86.48
24     Washington     38.54     -77.01

In [24]:
time_og = ["1","3","4","6","7","8","9","10","11"]
time_conv = ["1300","1500","1600","1800","1900","2000","2100","2200","2300"]

In [25]:
time_dict = {
    "time_og" : time_og,
    "time_conv" : time_conv
}
time_table = pd.DataFrame(time_dict)
time_table

  time_og time_conv
0       1      1300
1       3      1500
2       4      1600
3       6      1800
4       7      1900
5       8      2000
6       9      2100
7      10      2200
8      11      2300

In [20]:
a = schedule["New Time"].unique()
print(a)

[ 7  1  4  8 10  6  3  9 11]

In [16]:
#http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,-87.38&date=2008-09-08&tp=1&format=json

SyntaxError: invalid syntax (<ipython-input-16-5aa81b4d1c7f>, line 1)