In [1]:
import requests
import pandas as pd
import json
from json import JSONDecoder
from pprint import pprint
import time as T

In [2]:
# http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,87.38&date=2008-09-08&tp=1&format=json
# above is example

In [3]:
#import cleaned NFL schedule
schedule_csv = "NFL_Schedule.csv"

schedule = pd.read_csv(schedule_csv)
schedule.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers

In [4]:
#import cleaned NFL Stadium Locations
locations_csv = "NFL_Locations.csv"
locations = pd.read_csv(locations_csv)
#locations

In [5]:
locations["Latitude"] = locations["Latitude"].round(decimals=3)
locations["Longitude"] = locations["Longitude"].round(decimals=3)
#locations

In [6]:
#merge schedule with locations
merge = pd.merge(left=schedule, right=locations, how="left", left_on="City", right_on="Franchise")
merge.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Franchise,Latitude,Longitude
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,New York,40.43,-74.01
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,Philadelphia,39.57,-75.07
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,Miami,25.46,-80.12
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,New England,42.21,-71.04
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,Pittsburgh,40.26,-80.00

In [11]:
clean_df = merge[["Full Date","Time","time_conv","time_index","Week","City","Home Team","Winner","Latitude","Longitude"]]
clean_df["Starting Game Temp (F)"] = ""
clean_df["weatherDesc"] = ""
clean_df["cloudcover"] = ""
clean_df

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,,,
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,,,
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,,,
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,,,
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,,,
1733,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,,,
1734,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,,,
1735,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,,,
1736,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,,,

In [8]:
for index, row in trial_df.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        location = f"{lat},{lng}"
        times = row["time_index"]
        print(location)
        print(date)
        print(times)
        
        T.sleep(3)
    except IndexError:
        print("error")

NameError: name 'trial_df' is not defined

In [9]:
# set up table 1 df
table_1 = clean_df.iloc[:80,:]
table_1

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,,,
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,,,
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,,,
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,,,
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2008-10-19,1:02PM,1300,12,7,New York,Giants,Giants,40.43,-74.01,,,
76,2008-10-19,1:02PM,1300,12,7,Chicago,Bears,Bears,41.53,-87.38,,,
77,2008-10-19,1:04PM,1300,12,7,Cincinnati,Bengals,Steelers,39.06,-84.31,,,
78,2008-10-19,1:04PM,1300,12,7,Carolina,Panthers,Panthers,35.14,-80.50,,,
79,2008-10-19,4:15PM,1600,15,7,Oakland,Raiders,Raiders,37.47,-122.13,,,

In [12]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=9b6272a2d2e34f45bab144757210906&q="
for index, row in table_1.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_1.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_1.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_1.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        
        #print(table_1.iloc[[index],10:])
        
        T.sleep(1.5)
    except (KeyError,IndexError):
        print("error")

print("completed")

error
error
error
completed

In [13]:
table_1

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,72,{'value': 'Clear'},0
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,82,{'value': 'Partly cloudy'},38
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,59,{'value': 'Light rain shower'},97
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,82,{'value': 'Partly cloudy'},38
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,72,{'value': 'Sunny'},14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2008-10-19,1:02PM,1300,12,7,New York,Giants,Giants,40.43,-74.01,68,{'value': 'Sunny'},0
76,2008-10-19,1:02PM,1300,12,7,Chicago,Bears,Bears,41.53,-87.38,86,{'value': 'Sunny'},5
77,2008-10-19,1:04PM,1300,12,7,Cincinnati,Bengals,Steelers,39.06,-84.31,81,{'value': 'Sunny'},15
78,2008-10-19,1:04PM,1300,12,7,Carolina,Panthers,Panthers,35.14,-80.50,55,{'value': 'Sunny'},9
79,2008-10-19,4:15PM,1600,15,7,Oakland,Raiders,Raiders,37.47,-122.13,56,{'value': 'Overcast'},100

In [14]:
table_1.to_csv("Table 1.csv",encoding="utf-8",index=False)

In [19]:
# run for table 2
table_2 = clean_df.iloc[80:155,:]

In [20]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=9b6272a2d2e34f45bab144757210906&q="
for index, row in table_2.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_2.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_2.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_2.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        
        #print(table_2.iloc[index])
        
        T.sleep(1.5)
    except (KeyError,IndexError):
        print("error")

print("completed")

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

error
error
error

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [21]:
table_2

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
80,2008-10-19,4:15PM,1600,15,7,Green Bay,Packers,Packers,44.30,-88.01,71,{'value': 'Sunny'},0
81,2008-10-19,4:16PM,1600,15,7,Washington,Redskins,Redskins,38.54,-77.01,61,{'value': 'Sunny'},0
82,2008-10-19,8:23PM,2000,19,7,Tampa Bay,Buccaneers,Buccaneers,NaN,NaN,74,{'value': 'Light rain shower'},62
83,2008-10-20,8:40PM,2000,19,7,New England,Patriots,Patriots,42.21,-71.04,73,{'value': 'Clear'},22
84,2008-10-26,1:02PM,1300,12,8,Baltimore,Ravens,Ravens,39.17,-76.37,84,{'value': 'Sunny'},10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2010-10-17,1:02PM,1300,12,6,New England,Patriots,Patriots,42.21,-71.04,,,
496,2010-10-17,1:02PM,1300,12,6,Pittsburgh,Steelers,Steelers,40.26,-80.00,,,
497,2010-10-17,1:02PM,1300,12,6,Chicago,Bears,Seahawks,41.53,-87.38,,,
498,2010-10-17,1:02PM,1300,12,6,Philadelphia,Eagles,Eagles,39.57,-75.07,,,
499,2010-10-17,1:02PM,1300,12,6,Green Bay,Packers,Dolphins,44.30,-88.01,,,

In [22]:
table_2.to_csv("Table 2.csv",encoding="utf-8",index=False)

In [25]:
table_3 = clean_df.iloc[155:495,:]

In [26]:
#run for table 3
table_3.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
155,2008-11-30,4:15PM,1600,15,13,New England,Patriots,Steelers,42.21,-71.04,,,
156,2008-12-04,8:15PM,2000,19,14,San Diego,Chargers,Chargers,32.43,-118.09,,,
157,2008-12-07,1:02PM,1300,12,14,Chicago,Bears,Bears,41.53,-87.38,,,
158,2008-12-07,1:02PM,1300,12,14,Indianapolis,Colts,Colts,39.46,-86.09,,,
159,2008-12-07,1:02PM,1300,12,14,Green Bay,Packers,Texans,44.30,-88.01,,,

In [27]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6cd0fcd19b014508966202712210906&q="
for index, row in table_3.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_3.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_3.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_3.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        
        #print(table_2.iloc[index])
        
        T.sleep(1.5)
    except (KeyError,IndexError):
        print("error")

print("completed")

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
error
completed

In [28]:
table_3.to_csv("Table 3.csv",encoding="utf-8",index=False)

In [31]:
table_3 = clean_df.iloc[495:975,:]
table_3.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
495,2010-10-17,1:02PM,1300,12,6,New England,Patriots,Patriots,42.21,-71.04,,,
496,2010-10-17,1:02PM,1300,12,6,Pittsburgh,Steelers,Steelers,40.26,-80.00,,,
497,2010-10-17,1:02PM,1300,12,6,Chicago,Bears,Seahawks,41.53,-87.38,,,
498,2010-10-17,1:02PM,1300,12,6,Philadelphia,Eagles,Eagles,39.57,-75.07,,,
499,2010-10-17,1:02PM,1300,12,6,Green Bay,Packers,Dolphins,44.30,-88.01,,,

In [ ]:
#http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,-87.38&date=2008-09-08&tp=1&format=json

In [30]:
# done
table_1.head()
table_2.head()
table_3.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
155,2008-11-30,4:15PM,1600,15,13,New England,Patriots,Steelers,42.21,-71.04,62,{'value': 'Sunny'},0
156,2008-12-04,8:15PM,2000,19,14,San Diego,Chargers,Chargers,32.43,-118.09,29,{'value': 'Partly cloudy'},60
157,2008-12-07,1:02PM,1300,12,14,Chicago,Bears,Bears,41.53,-87.38,82,{'value': 'Patchy rain possible'},46
158,2008-12-07,1:02PM,1300,12,14,Indianapolis,Colts,Colts,39.46,-86.09,63,{'value': 'Sunny'},0
159,2008-12-07,1:02PM,1300,12,14,Green Bay,Packers,Texans,44.30,-88.01,51,{'value': 'Sunny'},12

In [32]:
table_4 = clean_df.iloc[495:975,:]
table_4.head()

NameError: name 'table' is not defined