In [1]:
import requests
import pandas as pd
import json
from json import JSONDecoder
from pprint import pprint
import time as T

In [2]:
# http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,87.38&date=2008-09-08&tp=1&format=json
# above is example

In [3]:
#import cleaned NFL schedule
schedule_csv = "NFL_Schedule.csv"

schedule = pd.read_csv(schedule_csv)
schedule.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers

In [4]:
#import cleaned NFL Stadium Locations
locations_csv = "NFL_Locations.csv"
locations = pd.read_csv(locations_csv)
#locations

In [5]:
locations["Latitude"] = locations["Latitude"].round(decimals=3)
locations["Longitude"] = locations["Longitude"].round(decimals=3)
#locations

In [6]:
#merge schedule with locations
merge = pd.merge(left=schedule, right=locations, how="left", left_on="City", right_on="Franchise")
merge.head()

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Franchise,Latitude,Longitude
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,New York,40.43,-74.01
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,Philadelphia,39.57,-75.07
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,Miami,25.46,-80.12
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,New England,42.21,-71.04
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,Pittsburgh,40.26,-80.00

In [7]:
clean_df = merge[["Full Date","Time","time_conv","time_index","Week","City","Home Team","Winner","Latitude","Longitude"]]
clean_df["Starting Game Temp (F)"] = ""
clean_df["weatherDesc"] = ""
clean_df["cloudcover"] = ""
clean_df

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
0,2008-09-04,7:08PM,1900,18,1,New York,Giants,Giants,40.43,-74.01,,,
1,2008-09-07,1:02PM,1300,12,1,Philadelphia,Eagles,Eagles,39.57,-75.07,,,
2,2008-09-07,1:02PM,1300,12,1,Miami,Dolphins,Jets,25.46,-80.12,,,
3,2008-09-07,1:02PM,1300,12,1,New England,Patriots,Patriots,42.21,-71.04,,,
4,2008-09-07,1:02PM,1300,12,1,Pittsburgh,Steelers,Steelers,40.26,-80.00,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,,,
1733,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,,,
1734,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,,,
1735,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,,,
1736,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,,,

In [ ]:
#for index, row in clean_df.iterrows():
 #   try:
  #      lat = row['Latitude']
   #     lng = row["Longitude"]
    #    date = row["Full Date"]
     #   location = f"{lat},{lng}"
      #  times = row["time_index"]
       # print(location)
       # print(date)
       # print(times)
        
       # T.sleep(.5)
   # except IndexError:
    #    print("error")

In [ ]:
# set up table 1 df
table_4 = clean_df.iloc[339:800,:]
table_4

In [ ]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=9b6272a2d2e34f45bab144757210906&q="
for index, row in table_4.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_4.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_4.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_4.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        
        print("-----------------")
        print(table_4.iloc[[index],10:])
        print("-----------------")
        T.sleep(1)
    except (KeyError,IndexError):
        print("-----------------")
        print("error -> skipped")
        print("-----------------")
print("-----------------")
print("-----------------")
print("completed")

In [ ]:
table_4

In [ ]:
table_4.to_csv("Table 4.csv",encoding="utf-8",index=False)

In [8]:
# run for table 2
table_5 = clean_df.iloc[800:1270,:]

In [10]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q="
for index, row in table_5.iterrows():
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_5.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_5.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_5.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        
        #print(table_5.iloc[index])
        
        T.sleep(1)
    except (KeyError,IndexError):
        print("you are blessed, don't worry")

print("completed")

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
you are blessed, don't worry
completed

In [12]:
table_5

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
800,2011-12-04,1:03PM,1300,12,13,Chicago,Bears,Chiefs,41.53,-87.38,73,{'value': 'Patchy rain possible'},26
801,2011-12-04,4:05PM,1600,15,13,Cleveland,Browns,Ravens,41.30,-81.41,72,{'value': 'Patchy rain possible'},24
802,2011-12-04,4:15PM,1600,15,13,San Francisco,49ers,49ers,37.48,-122.24,41,{'value': 'Patchy light drizzle'},57
803,2011-12-04,4:15PM,1600,15,13,New York,Giants,Packers,40.43,-74.01,40,{'value': 'Sunny'},6
804,2011-12-04,4:15PM,1600,15,13,Arizona,Cardinals,Cardinals,33.27,-112.05,40,{'value': 'Sunny'},6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1265,2013-12-22,1:00PM,1300,12,16,St. Louis,Rams,Rams,38.38,-90.11,70,{'value': 'Partly cloudy'},58
1266,2013-12-22,1:02PM,1300,12,16,Jacksonville,Jaguars,Titans,30.20,-81.40,23,{'value': 'Partly cloudy'},26
1267,2013-12-22,1:02PM,1300,12,16,Buffalo,Bills,Bills,42.54,-78.53,60,{'value': 'Sunny'},0
1268,2013-12-22,1:02PM,1300,12,16,New York,Jets,Jets,40.43,-74.01,23,{'value': 'Partly cloudy'},26
1269,2013-12-22,1:02PM,1300,12,16,Kansas City,Chiefs,Colts,39.06,-94.37,60,{'value': 'Sunny'},0

In [11]:
table_5.to_csv("Table 5.csv",encoding="utf-8",index=False)

In [13]:
table_6 = clean_df.iloc[1270:1738,:]

In [15]:
#run for table 3
table_6

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
1270,2013-12-22,1:02PM,1300,12,16,Cincinnati,Bengals,Bengals,39.06,-84.31,,,
1271,2013-12-22,1:03PM,1300,12,16,Washington,Redskins,Cowboys,38.54,-77.01,,,
1272,2013-12-22,1:04PM,1300,12,16,Carolina,Panthers,Panthers,35.14,-80.50,,,
1273,2013-12-22,4:06PM,1600,15,16,Seattle,Seahawks,Cardinals,47.36,-122.20,,,
1274,2013-12-22,4:25PM,1600,15,16,Green Bay,Packers,Steelers,44.30,-88.01,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,,,
1733,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,,,
1734,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,,,
1735,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,,,
1736,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,,,

In [17]:
base_url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q="
for index, row in table_6.iterrows():   
    try:
        lat = row['Latitude']
        lng = row["Longitude"]
        date = row["Full Date"]
        time = row["time_index"]
        location = f"{lat},{lng}"
        weather_test = f"{base_url},{location}&date={date}&tp=1&format=json"
        weather_info = requests.get(weather_test).json()
        table_6.loc[index, "Starting Game Temp (F)"] = weather_info['data']['weather'][0]['hourly'][time]['tempF']
        table_6.loc[index, "weatherDesc"] = weather_info['data']['weather'][0]['hourly'][time]['weatherDesc']
        table_6.loc[index, "cloudcover"]= weather_info['data']['weather'][0]['hourly'][time]['cloudcover']
        x = 1
        
        #print(table_6.iloc[index])
        print(x)
        T.sleep(0.5)
        x = x + 1
    except (KeyError,IndexError):
        print("tough times dont last, tough people do ;P")

print("completed")

/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Applications/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1700: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, v, pi)

1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
tough times dont last, tough people do ;P
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
completed

In [18]:
table_6

,Full Date,Time,time_conv,time_index,Week,City,Home Team,Winner,Latitude,Longitude,Starting Game Temp (F),weatherDesc,cloudcover
1270,2013-12-22,1:02PM,1300,12,16,Cincinnati,Bengals,Bengals,39.06,-84.31,60,{'value': 'Sunny'},0
1271,2013-12-22,1:03PM,1300,12,16,Washington,Redskins,Cowboys,38.54,-77.01,70,{'value': 'Partly cloudy'},52
1272,2013-12-22,1:04PM,1300,12,16,Carolina,Panthers,Panthers,35.14,-80.50,35,{'value': 'Cloudy'},76
1273,2013-12-22,4:06PM,1600,15,16,Seattle,Seahawks,Cardinals,47.36,-122.20,24,{'value': 'Sunny'},7
1274,2013-12-22,4:25PM,1600,15,16,Green Bay,Packers,Steelers,44.30,-88.01,24,{'value': 'Sunny'},7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1732,2015-01-17,1:06PM,1300,12,Division,Carolina,Panthers,Panthers,35.14,-80.50,34,{'value': 'Partly cloudy'},53
1733,2015-01-17,4:40PM,1600,15,Division,Denver,Broncos,Broncos,39.43,-105.01,56,{'value': 'Sunny'},3
1734,2015-01-24,3:05PM,1500,14,ConfChamp,Denver,Broncos,Broncos,39.43,-105.01,64,{'value': 'Partly cloudy'},40
1735,2015-01-24,6:42PM,1800,17,ConfChamp,Carolina,Panthers,Panthers,35.14,-80.50,33,{'value': 'Overcast'},100
1736,2015-02-07,6:39PM,1800,17,SuperBowl,Denver,Broncos,Broncos,39.43,-105.01,58,{'value': 'Partly cloudy'},57

In [19]:
table_6.to_csv("Table 6.csv",encoding="utf-8",index=False)

In [ ]:
#http://api.worldweatheronline.com/premium/v1/past-weather.ashx?key=6f2d4be584aa413f9df230512210306&q=45.53,-87.38&date=2008-09-08&tp=1&format=json

In [ ]:
# done
table_1.head()
table_2.head()
table_3.head()

In [ ]:
table_4 = clean_df.iloc[495:975,:]
table_4.head()